#back {
  background-image: url(../images/windows11.png);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9998;
  background-color: transparent;
  color: white;
  width: 100vw;
  height: 100vh;

}

#start {
  height: 20px;
  width: 80px;
}

#overlayT {
  position: relative;
  display: inline-block;
}

#overlayT img {
  display: block;
  height: auto;
  width: 750px;
  max-height: 100vh;
  border-radius: 20px;
}

#text {
  position: absolute;
  top: 15%;
  left: 5%;
  font-family: monospace;
  font-size: 1.2rem;
  color: #00ff00;
}

/* Animazione linee */

.line {
  display: inline-block;
  overflow: hidden;
  border-right: 3px solid transparent;
  white-space: nowrap;
  width: 0;
  margin: 0;
  vertical-align: bottom;
}

.l1 {
  animation:
    typing1 3s steps(75, end) forwards,
    blink 0.5s step-end infinite,
    hideCursor 0.1s 3s forwards;
}

.l2 {
  animation:
    typing2 3s steps(50, end) 3s forwards,
    blink 0.5s step-end infinite,
    hideCursor 0.1s 6s forwards;
  /* Sparisce dopo 3s+3s = 6s */
}

.l3 {
  animation:
    typing3 2.5s steps(40, end) 6s forwards,
    blink 0.5s step-end infinite,
    hideCursor 0.1s 8.5s forwards;
  /* Sparisce dopo 6s+2.5s = 8.5s */
}

.l4 {
  animation:
    typing4 2s steps(20, end) 8.5s forwards,
    blink 0.5s step-end infinite,
    hideCursor 0.1s 10.5s forwards;
}

#userInputLine {
  margin-top: 5px;
  display: block;
}

#cmdInput {
  background-color: transparent;
  border: none;
  color: #00ff00;
  font-family: monospace;
  font-size: 1.2rem;
  outline: none;
  width: 80%;
  caret-color: #00ff00;
  text-transform: lowercase;
}


@keyframes typing1 {
  from {
    width: 0;
    border-right-color: #00ff00;
  }

  /* Diventa verde appena parte */
  to {
    width: 65ch;
    border-right-color: #00ff00;
  }

  /* Resta verde mentre scrive */
}

@keyframes typing2 {
  from {
    width: 0;
    border-right-color: #00ff00;
  }

  to {
    width: 65ch;
    border-right-color: #00ff00;
  }
}

@keyframes typing3 {
  from {
    width: 0;
    border-right-color: #00ff00;
  }

  to {
    width: 65ch;
    border-right-color: #00ff00;
  }
}

@keyframes typing4 {
  from {
    width: 0;
    border-right-color: #00ff00;
  }

  to {
    width: 65ch;
    border-right-color: #00ff00;
  }
}

/* Lampeggio del cursore*/
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes hideCursor {
  to {
    border-right-color: transparent;
  }
}